.content-container {
    margin: auto;
}

#know-more-button {
    text-decoration: none;
    display: inline-block;
    padding: 1rem;
    background-color: var(--text-colour);
    color: var(--primary-colour);
    border-radius: .25rem;
    transition: background-color .3s ease;
    border: 2px solid var(--text-colour);
}

#know-more-button:hover {
    background-color: var(--secondary-colour);
}