.content-container {
    margin: auto;
    border-radius: 2.5rem !important;
}

form {
    width: 100%;
    margin: 2rem auto;
    padding: 2rem;
    background: var(--secondary-colour);
    border-radius: 2rem;
    outline: 2rem solid var(--primary-accent-colour);
    margin-top: 0;
    margin-bottom: 2rem;
    text-align: center;
}

form p {
    margin-bottom: 1rem;
    font-weight: 500;
}

form input {
    width: 80%;
    padding: 0.6rem 0.8rem;
    background-color: var(--bg-colour);
    border: none;
    outline: .25rem solid var(--primary-colour);
    border-radius: 8px;
    font-size: 1rem;
    transition: border-color .15s ease, box-shadow .15s ease;
    color: var(--text-colour);
}

form input::placeholder {
    color: var(--primary-colour);
    opacity: 75%;
}

form button {
    margin-top: 1rem;
    padding: 0.6rem 1.2rem;
    border-radius: 8px;
    outline: none;
    font-size: 1rem;
    background-color: var(--primary-colour);
    color: var(--secondary-colour);
    cursor: pointer;
    transition: filter .15s ease, transform .1s ease;
}

@media (min-aspect-ratio: 1) {
    form {
        margin-top: 2rem;
    }
}