.diagram {
    mask-image: var(--src);
    mask-repeat: no-repeat;
    mask-size: contain;
    width: 25rem;
    height: 25rem;
    background-color: var(--primary-colour);
}

.subtext {
    font-size: 0.9rem;
}

.centred {
    margin: auto;
}

.float-right {
    float: right;
}

@media (max-aspect-ratio: 3/2) {
    .float-right {
        float: none;
        display: block;
        margin: 1rem auto;
    }
}

.clear {
    clear: both;
}

.inline-block {
    display: inline-block;
}

mjx-container:has(>mjx-assistive-mml) {
    font-size: 110% !important;
}

/* .markdown-wrapper h1::after,
.markdown-wrapper h2::after {} */