.md-title {
    font-size: max(3rem, 3.25dvw);
    text-shadow: .2rem .2rem var(--shadow-colour);
}

.diagram {
    mask-image: var(--src);
    mask-repeat: no-repeat;
    mask-size: contain;
    width: min(25rem, 50dvw);
    height: min(25rem, 50dvw);
    background-color: var(--primary-colour);
}

.subtext {
    font-size: 0.9rem;
}

.centred {
    margin: auto;
}

.float-right {
    float: right;
}

@media (max-aspect-ratio: 3/2) {
    .float-right {
        float: none;
        display: block;
        margin: 1rem auto;
    }
}

.clear {
    clear: both;
}

.inline-block {
    display: inline-block;
}

mjx-container:has(>mjx-assistive-mml) {
    font-size: 100% !important;
}