.md-title {
    font-size: max(3rem, 3.25dvw);
    text-shadow: .2rem .2rem var(--shadow-colour);
}

.subtext {
    font-size: 0.9rem;
}

.centred {
    margin: auto;
}

.inline-block {
    display: inline-block;
}

mjx-container:has(>mjx-assistive-mml) {
    font-size: 100% !important;
}

.admonition {
    border-radius: 6px;
    padding: 12px 14px;
    margin: 16px 0;
    border-left: 5px solid;
}

.admonition code {
    background-color: color-mix(in srgb, var(--secondary-colour) 50%, #ffffff00 50%);
}

.admonition > .admonition-title {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 6px;
}

.admonition.important {
    border-color: #d9534f;
    background-color: #d9534f40;
}

.admonition.important * {
    color: color-mix(in srgb, var(--text-colour) 50%, #d9534f 50%);
}

.admonition.warning {
    border-color: #f3d494;
    background-color: #f3d49440;
}

.admonition.warning * {
    color: color-mix(in srgb, var(--text-colour) 50%, #f3d494 50%);
}

.admonition.note {
    border-color: #7fbbb3;
    background-color: #7fbbb340;
}

.admonition.note * {
    color: color-mix(in srgb, var(--text-colour) 50%, #7fbbb3 50%);
}

/* block code */
pre {
    outline: 1px solid var(--shadow-colour);
    display: block;
    padding: 1rem;
    border: none;
    border-radius: .5rem;
    overflow-x: auto;
    font-size: 0.95rem;
}

/* inline code */
:not(pre) > code {
    background: var(--secondary-colour);
    padding: 2px 5px;
    border-radius: 4px;
    border: 1px solid var(--shadow-colour);
    font-size: 1rem;
    color: var(--primary-colour);
}

code {
    font-family: var(--code-font);
}

h1 {
    border-bottom: solid .5dvh var(--primary-colour);
}

h2{
    border-bottom: dashed .25dvh var(--primary-colour);
} 

h3, h4 {
    border-bottom: dotted max(.125dvh, 2px) var(--primary-colour);
}

img {
    float: right;
    width: 35%;
    border-radius: 2.5dvw;
    margin: 2.5%;    
}

h1, h2, h3, h3 {
    clear: both;
}

@media (max-aspect-ratio: 3/2) {
    img {
        width: 55%;
        margin: 2.5%;
    }
}