/* Declare fonts */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

@font-face {
    font-family: 'Reef';
    src: url('/static/fonts/Reef.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Declare global variables */
:root {
    --text-colour: #6A523A;
    --bg-colour: #fefae0;
    --primary-colour: #d4a373;
    --secondary-colour: #faedcd;
    --primary-accent-colour: #ccd5ae;
    --secondary-accent-colour: #e9edc9;
    --link-colour: #B9C29E;
    --visited-link-colour: #ccd5ae;
    --title-font: 'Indie Flower';
    --base-font: 'Reef';
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

a {
    font-family: 'Reef', sans-serif;
}

a:not(.nav-link, .navbar-brand) {
    color: var(--link-colour);
}

a:visited:not(.nav-link, .navbar-brand) {
    color: var(--visited-link-colour);
}

p,
h1,
h2,
h3,
li {
    color: var(--text-colour);
    font-family: 'Reef', sans-serif;
}

p,
li {
    font-size: 1.2rem;
}

.markdown-wrapper {
    color: var(--text-colour) !important;
    background-color: var(--bg-colour) !important;
}

body {
    background-color: var(--bg-colour);
}

/* Remove scrollbar from firefox */
html {
    scrollbar-width: none;
}

/* Remove scrollbar from chrome, edge & safari */
html::-webkit-scrollbar {
    display: none;
}

/* Main and background css */
main {
    min-height: 100dvh;
    position: relative;
    display: flex;
    flex-direction: column;
}

main h1,
main p {
    background-color: transparent !important;
}

#bg-overlay {
    position: absolute;
    inset: 0;
    z-index: -1;
    pointer-events: none;
    mask-image: url('/static/images/seamless cat.png');
    mask-repeat: repeat;
    mask-size: 10%;
    flex: 1;
}

#bg-overlay div {
    position: fixed;
    background-color: var(--primary-colour);
    inset: 0;
    width: 100dvw;
    height: 100dvh;
}

.title {
    font-size: 10rem;
    margin-bottom: 0;
    padding-bottom: 0;
}

.subtitle {
    font-size: 5rem;
}

.text-mask {
    background-clip: text;
    mix-blend-mode: multiply;
    user-select: none;
}

.content-container {
    border: var(--secondary-accent-colour) solid 2.5rem;
    border-radius: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: var(--bg-colour);
    padding: 2rem;
}

.container.position-relative {
    max-width: 100dvw;
    padding: 0 !important;
    margin: 0 !important;
}