/* Declare fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Indie+Flower&display=swap');

@font-face {
    font-family: 'Reef';
    src: url('/static/fonts/Reef.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Declare global variables */
:root {
    /* Colours */
    --text-colour: #6A523A;
    --bg-colour: #fefae0;
    --primary-colour: #d4a373;
    --secondary-colour: #faedcd;
    --primary-accent-colour: #ccd5ae;
    --secondary-accent-colour: #e9edc9;
    --link-colour: #B9C29E;
    --visited-link-colour: #ccd5ae;
    --shadow-colour: #6A523A3F;

    /* Fonts */
    --title-font: 'Indie Flower';
    --base-font: 'Reef';
}

@media (max-aspect-ratio : 3/2) {
    :root {
        font-size: 2dvw;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

a {
    color: var(--link-colour);
    font-family: var(--base-font), sans-serif;
}

a:visited {
    color: var(--visited-link-colour);
}

p,
h1,
h2,
h3,
li {
    color: var(--text-colour);
    font-family: var(--base-font), sans-serif;
}

p,
li {
    font-size: 1.3rem;
}

.markdown-wrapper {
    color: var(--text-colour) !important;
    background-color: var(--bg-colour) !important;
}

body {
    background-color: var(--bg-colour);
}

/* Remove scrollbar from firefox */
html {
    scrollbar-width: none;
}

/* Remove scrollbar from chrome, edge & safari */
html::-webkit-scrollbar {
    display: none;
}

/* Main and background css */
main {
    min-height: 100dvh;
    position: relative;
    display: flex;
    flex-direction: column;
}

main h1,
main p {
    background-color: transparent !important;
}

#bg-overlay {
    position: absolute;
    inset: 0;
    z-index: -1;
    pointer-events: none;
    mask-image: var(--src);
    mask-repeat: repeat;
    mask-size: 10%;
    flex: 1;
    background-color: var(--primary-colour);
    opacity: 0.25;
}

.title {
    font-size: max(6rem, 6.5dvw);
    margin-bottom: 0;
    padding-bottom: 0;
    text-shadow: .2rem .2rem var(--shadow-colour);
    font-family: var(--title-font);
    font-weight: 800;
}

.subtitle {
    font-size: max(3rem, 3.25dvw);
    text-shadow: .2rem .2rem var(--shadow-colour);
    font-family: var(--title-font);
    font-weight: 800;
}

.text-mask {
    background-clip: text;
    mix-blend-mode: multiply;
    user-select: none;
}

.content-container {
    border-radius: 2.5rem;
    margin-top: 10%;
    margin-bottom: 10%;
    background-color: var(--bg-colour);
    padding: 2rem;
    box-shadow: 0 0 .5rem 2.75rem var(--shadow-colour);
}

.container.position-relative {
    max-width: 100dvw;
    padding: 0 !important;
    margin: 0 !important;
}

@media (min-width: 576px) {
    .content-container {
        outline: var(--secondary-accent-colour) solid 2.5rem;
    }
}