.circle-nav {
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
    z-index: 1000;
}

.nav-button {
    width: 5dvh;
    height: 5dvh;
    border: none;
    border-radius: 50%;
    background: var(--primary-accent-colour);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5dvh;
    cursor: pointer;
    transition: background 0.3s ease;
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
    z-index: 1100;
    outline: none;
}

.nav-button span {
    width: 60%;
    height: 2px;
    border-radius: .15dvh;
    background: var(--bg-colour);
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform-origin: center;
}

.nav-button.active span:nth-child(1) {
    transform: translateY(calc(.25dvh + 1px)) rotate(45deg);
}

.nav-button.active span:nth-child(2) {
    transform: translateY(calc(-.25dvh - 1px)) rotate(-45deg);
}

.nav-links {
    position: fixed;
    height: 100dvh;
    width: 100dvw;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    list-style: none;
    background: var(--secondary-colour);
    clip-path: circle(0% at calc(100% - 2.5rem) 2.5rem);
    transition: clip-path 0.5s ease-in;
    z-index: 1000;
}

.nav-links a {
    color: var(--primary-colour);
    font-size: 2rem;
    text-decoration: none;
    user-select: none;
}

.nav-links a:hover {
    color: var(--text-colour);
}

.nav-links.open {
    clip-path: circle(200% at calc(100% - 2.5rem) 2.5rem);
}

#theme-toggle {
    padding: 0;
    position: fixed;
    top: calc(2rem + 6dvh);
    right: 1.5rem;
    width: 5dvh;
    height: 5dvh;
    border: none;
    border-radius: 50%;
    color: var(--text-colour);
    font-size: 1.6rem;
    cursor: pointer;
    z-index: 1000;
    outline: none;

    background-color: var(--bg-colour);
}

#theme-toggle>span {
    display: block;
    inset: 0;
    width: 5dvh;
    height: 5dvh;
    mask: var(--theme-icon) no-repeat center;
    mask-size: contain;
    background: var(--primary-colour);
    transition: background 0.3s ease;
}

#theme-toggle span:hover {
    background-color: var(--alt-bg-colour);
}

#theme-overlay {
    position: fixed;
    inset: 0;
    height: 100dvh;
    width: 100dvw;
    clip-path: circle(0% at 100% 0%);
    background: var(--alt-bg-colour);
    pointer-events: none;
    z-index: 2000;
    opacity: 1;
    will-change: clip-path, opacity;
}