/* meyer reset -- http://meyerweb.com/eric/tools/css/reset/ , v2.0 | 20110126 | License: none (public domain) */



/* =========== */

/* pt-serif-regular - latin */
@font-face {
  }
/* pt-serif-italic - latin */
@font-face {
  }
/* pt-serif-700 - latin */
@font-face {
  }
/* pt-serif-700italic - latin */
@font-face {
  }

#letter{
	--active-file-bg-color: #dadada;
	--active-file-bg-color: rgba(32, 43, 51, 0.63);
	--active-file-text-color: white;
	--bg-color: #f3f2ee;
	--text-color: #1f0909;
	--control-text-color: #444;
	--rawblock-edit-panel-bd: #e5e5e5;

	--select-text-bg-color: rgba(32, 43, 51, 0.63);
  --select-text-font-color: white;
}

#letter pre{
	--select-text-bg-color: #36284e;
	--select-text-font-color: #fff;
}

#letter{
	padding: 1px 2dvw 1px 2dvw;
	margin: 1dvw;
	font-size: 16px;
	border: 1px solid var(--control-text-color);
	border-radius: 1dvw;
	-webkit-font-smoothing: antialiased;
}

#letter{
	background-color: #f3f2ee;
}

#letter *{
	font-family: "PT Serif", "Times New Roman", "SF Pro", Times, serif;
	color: #1f0909;
	line-height: 1.5em;
}

/*#write {
	overflow-x: auto;
    max-width: initial;
	padding-left: calc(50% - 17em);
    padding-right: calc(50% - 17em);
}

@media (max-width: 36em) {
 	#write {
 		padding-left: 1em;
    	padding-right: 1em;
 	}
}*/

#letter #write{
	max-width: 40em;
}

@media only screen and (min-width: 1400px) {
	#letter #write{
			max-width: 914px;
	}
}

#letter ol li{
	list-style-type: decimal;
	list-style-position: outside;
}
#letter ul li{
	list-style-type: disc;
	list-style-position: outside;
}

#letter ol, #letter ul{
	list-style: none;
}

#letter blockquote, #letter q{
	quotes: none;
}
#letter blockquote:before, #letter blockquote:after, #letter q:before, #letter q:after{
	content: "";
	content: none;
}
#letter table{
	border-collapse: collapse;
	border-spacing: 0;
}
/* styles */

/* ====== */

/* headings */

#letter h1, #letter h2, #letter h3, #letter h4, #letter h5, #letter h6{
	font-weight: bold;
}
#letter h1{
	font-size: 1.875em;
	/*30 / 16*/
	line-height: 1.6em;
	/* 48 / 30*/
	margin-top: 2em;
}
#letter h2, #letter h3{
	font-size: 1.3125em;
	/*21 / 16*/
	line-height: 1.15;
	/*24 / 21*/
	margin-top: 2.285714em;
	/*48 / 21*/
	margin-bottom: 1.15em;
	/*24 / 21*/
}
#letter h3{
	font-weight: normal;
}
#letter h4{
	font-size: 1.125em;
	/*18 / 16*/
	margin-top: 2.67em;
	/*48 / 18*/
}
#letter h5, #letter h6{
	font-size: 1em;
	/*16*/
}
#letter h1{
	border-bottom: 1px solid;
	margin-bottom: 1.875em;
	padding-bottom: 0.8125em;
}
/* links */

#letter a{
	text-decoration: none;
	color: #065588;
}
#letter a:hover, #letter a:active{
	text-decoration: underline;
}
/* block spacing */

#letter p, #letter blockquote, #letter .md-fences{
	margin-bottom: 1.5em;
}
#letter h1, #letter h2, #letter h3, #letter h4, #letter h5, #letter h6{
	margin-bottom: 1.5em;
}
/* blockquote */

#letter blockquote{
	font-style: italic;
	border-left: 5px solid;
	margin-left: 2em;
	padding-left: 1em;
}
/* lists */

#letter ul, #letter ol{
	margin: 0 0 1.5em 1.5em;
}
/* tables */
#letter .md-meta, #letter .md-before, #letter .md-after{
	color:#999;
}

#letter table{
	margin-bottom: 1.5em;
	/*24 / 16*/
	font-size: 1em;
	/* width: 100%; */
}
#letter thead th, #letter tfoot th{
	padding: .25em .25em .25em .4em;
	text-transform: uppercase;
}
#letter th{
	text-align: left;
}
#letter td{
	vertical-align: top;
	padding: .25em .25em .25em .4em;
}

#letter code, #letter .md-fences{
	background-color: #dadada;
}

#letter code{
	padding-left: 2px;
	padding-right: 2px;
}

#letter .md-fences{
	margin-left: 2em;
	margin-bottom: 3em;
	padding-left: 1ch;
	padding-right: 1ch;
}

#letter pre, #letter code, #letter tt{
	font-size: .875em;
	line-height: 1.714285em;
}
/* some fixes */

#letter h1{
	line-height: 1.3em;
	font-weight: normal;
	margin-bottom: 0.5em;
}

#letter p + ul, #letter p + ol{
	margin-top: .5em;
}

#letter h3 + ul, #letter h4 + ul, #letter h5 + ul, #letter h6 + ul, #letter h3 + ol, #letter h4 + ol, #letter h5 + ol, #letter h6 + ol{
	margin-top: .5em;
}

#letter li > ul, #letter li > ol{
	margin-top: inherit;
	margin-bottom: 0;
}

#letter li ol>li{
	list-style-type: lower-alpha;
}

#letter li li ol>li{
	list-style-type: lower-roman;
}

#letter h2, #letter h3{
	margin-bottom: .75em;
}
#letter hr{
	border-top: none;
	border-right: none;
	border-bottom: 1px solid;
	border-left: none;
}
#letter h1{
	border-color: #c5c5c5;
}
#letter blockquote{
	border-color: #bababa;
	color: #656565;
}

#letter blockquote ul, #letter blockquote ol{
	margin-left:0;
}

#letter .ty-table-edit{
	background-color: transparent;
}
#letter thead{
	background-color: #dadada;
}
#letter tr:nth-child(even){
	background: #e8e7e7;
}
#letter hr{
	border-color: #c5c5c5;
}
#letter .task-list{
	padding-left: 1rem;
}

#letter .md-task-list-item{
	padding-left: 1.5rem;
	list-style-type: none;
}

#letter .md-task-list-item > input:before{
	content: "√";
	display: inline-block;
	width: 1.25rem;
  	height: 1.6rem;
	vertical-align: middle;
	text-align: center;
	color: #ddd;
	background-color: #F3F2EE;
}

#letter .md-task-list-item > input:checked:before, #letter .md-task-list-item > input[checked]:before{
	color: inherit;
}

#letter #write pre.md-meta-block{
	min-height: 1.875rem;
	color: #555;
	border: 0px;
	background: transparent;
	margin-top: -4px;
	margin-left: 1em;
	margin-top: 1em;
}

#letter .md-image>.md-meta{
	color: #9B5146;
}

#letter .md-image>.md-meta *{
	font-family: Menlo, "Ubuntu Mono", Consolas, "Courier New", "Microsoft Yahei", "Hiragino Sans GB", "WenQuanYi Micro Hei", serif;
}


#letter #write>h3.md-focus:before{
	left: -1.5rem;
	color:#999;
	border-color:#999;
}
#letter #write>h4.md-focus:before{
	left: -1.5rem;
	top: .25rem;
	color:#999;
	border-color:#999;
}
#letter #write>h5.md-focus:before{
	left: -1.5rem;
	top: .0/**/.3125rem;
	color:#999;
	border-color:#999;
}
#letter #write>h6.md-focus:before{
	left: -1.5rem;
	top: 0.3125rem;
	color:#999;
	border-color:#999;
}

#letter .md-toc:focus .md-toc-content{
	margin-top: 19px;
}

#letter .md-toc-content:empty:before{
	color: #065588;
}
#letter .md-toc-item{
	color: #065588;
}
#letter #write div.md-toc-tooltip{
	background-color: #f3f2ee;
}

#letter #typora-sidebar{
	background-color: #f3f2ee;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.375);
  	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.375);
}

#letter .pin-outline #typora-sidebar{
	background: inherit;
	box-shadow: none;
	border-right: 1px dashed;
}

#letter .pin-outline #typora-sidebar:hover .outline-title-wrapper{
	border-left:1px dashed;
}

#letter .outline-item:hover{
  background-color: #dadada;
  border-left: 28px solid #dadada;
  border-right: 18px solid #dadada;
}

#letter .typora-node .outline-item:hover{
  	border-right: 28px solid #dadada;
}

#letter .outline-expander:before *{
  content: "";
  font-family: FontAwesome;
  font-size:14px;
  top: 1px;
}

#letter .outline-expander:hover:before, #letter .outline-item-open>.outline-item>.outline-expander:before{
  content: "";
}

#letter .modal-content{
	background-color: #f3f2ee;
}

#letter .auto-suggest-container ul li{
	list-style-type: none;
}

/** UI for electron */

#letter .megamenu-menu, #letter #top-titlebar, #letter #top-titlebar *, #letter .megamenu-content{
	background: #f3f2ee;
	color: #1f0909;
}

#letter .megamenu-menu-header{
	border-bottom: 1px dashed #202B33;
}

#letter .megamenu-menu{
	box-shadow: none;
	border-right: 1px dashed;
}

#letter header, #letter .context-menu, #letter .megamenu-content, #letter footer{
	font-family: "PT Serif", "Times New Roman", Times, serif;
    color: #1f0909;
}

#letter #megamenu-back-btn{
	color: #1f0909;
	border-color: #1f0909;
}

#letter .megamenu-menu-header #megamenu-menu-header-title:before{
	color: #1f0909;
}

#letter .megamenu-menu-list li a:hover, #letter .megamenu-menu-list li a.active{
	color: inherit;
	background-color: #e8e7df;
}

#letter .long-btn:hover{
	background-color: #e8e7df;
}

#letter #recent-file-panel tbody tr:nth-child(2n-1){
    background-color: transparent !important;
}

#letter .megamenu-menu-panel tbody tr:hover td:nth-child(2){
    color: inherit;
}

#letter .megamenu-menu-panel .btn{
	background-color: #D2D1D1;
}

#letter .btn-default{
	background-color: transparent;
}

#letter .typora-sourceview-on #toggle-sourceview-btn, #letter .ty-show-word-count #footer-word-count{
	background: #c7c5c5;
}

#letter #typora-quick-open{
    background-color: inherit;
}

#letter .md-diagram-panel{
	margin-top: 8px;
}

#letter .file-list-item-file-name{
	font-weight: initial;
}

#letter .file-list-item-summary{
	opacity: 1;
}

#letter .file-list-item{
	color: #777;
}

#letter .file-list-item.active{
	background-color: inherit;
	color: black;
}

#letter .ty-side-sort-btn.active{
	background-color: inherit;
}

#letter .file-list-item.active .file-list-item-file-name{
	font-weight: bold;
}

#letter .file-list-item{
    opacity:1 !important;
}

#letter .file-library-node.active>.file-node-background{
	background-color: rgba(32, 43, 51, 0.63);
	background-color: var(--active-file-bg-color);
}

#letter .file-tree-node.active>.file-node-content{
	color: white;
	color: var(--active-file-text-color);
}

#letter .md-task-list-item>input{
	margin-left: -1.7em;
	margin-top: calc(1rem - 12px);
	-webkit-appearance: button;
}

#letter input{
	border: 1px solid #aaa;
}

#letter .megamenu-menu-header #megamenu-menu-header-title, #letter .megamenu-menu-header:hover, #letter .megamenu-menu-header:focus{
	color: inherit;
}

#letter .dropdown-menu .divider{
	border-color: #e5e5e5;
	opacity: 1;
}

/* https://github.com/typora/typora-issues/issues/2046 */
#letter .os-windows-7 strong, #letter .os-windows-7 strong{
	font-weight: 760;
}

#letter .ty-preferences .btn-default{
	background: transparent;
}

#letter .ty-preferences .window-header{
	border-bottom: 1px dashed #202B33;
	box-shadow: none;
}

#letter #sidebar-loading-template, #letter #sidebar-loading-template.file-list-item{
	color: #777;
}

#letter .searchpanel-search-option-btn.active{
	background: #777;
	color: white;
}

#letter .export-detail, #letter .light .export-detail, #letter .light .export-item.active, #letter .light .export-items-list-control{
	background: #e0e0e0;
	border-radius: 2px;
	font-weight: 700;
	color: inherit
}