@media(min-aspect-ratio: 1) {
    .content-container {
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
}

.content-container {
    display: flex;
    flex-direction: column;
}

strong {
    font-family: var(--base-font);
    font-weight: bold;
    font-size: 1.25rem;
    color: var(--text-colour);
}

span.small-text {
    font-family: var(--base-font);
    color: var(--text-colour);
}

.contact {
    align-items: center;
    justify-items: center;
    text-align: center;
}

.reach-out-container {
    display: flex;
    justify-content: center;
}

.reach-out-card {
    max-width: 600px;
    width: 100%;
    padding: 3rem;
    outline: 1.5rem solid var(--primary-accent-colour);
    border-radius: 2.5rem;
    background: var(--secondary-colour);
    position: relative;
}

.reach-out-card h2 {
    margin-bottom: 0.5rem;
}

.reach-out-card .form-group {
    margin-bottom: 1rem;
}

.reach-out-card input,
.reach-out-card textarea {
    width: 100%;
    padding: 0.3rem 0.4rem;
    margin-top: .1rem;
    margin-bottom: .1rem;
    background: var(--bg-colour);
    border: none;
    outline: .25rem solid var(--primary-colour);
    font-size: 1rem;
    border-radius: 6px;
    transition: border-color .15s ease, box-shadow .15s ease;
    color: var(--text-colour);
}

.reach-out-card input::placeholder,
.reach-out-card textarea::placeholder {
    color: var(--primary-colour);
    opacity: 75%;
}

.submit-button {
    position: relative;
    float: right;
    border: none;
    border-radius: 2dvh;
    background-color: var(--secondary-accent-colour);
    outline: .25rem solid var(--primary-accent-colour);
    height: 4dvh;
    width: 4dvh;
    transform-origin: center;
}

.submit-button p {
    position: relative;
    bottom: 1dvh;
    transform-origin: center;
    color: var(--primary-accent-colour);
    font-size: 3dvh;
}

button.submit-button:focus {
    outline: .5rem solid var(--secondary-accent-colour);
}

[data-theme="dark"] .submit-button p {
    color: var(--text-colour);
}

.close-button {
    position: absolute;
    top: -1.25rem;
    right: -1.25rem;
    background-color: var(--error-colour);
    border: none;
    width: 3rem;
    height: 3rem;
    outline: .25rem solid var(--dark-error-colour);
    border-radius: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    justify-items: center;
}

button.close-button:focus {
    outline: .25rem solid var(--error-colour);
}

.close-button span {
    display: block;
    width: 120%;
    height: .2rem;
    border-radius: .1rem;
    background: var(--bg-colour);
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform-origin: center;
}

.reach-out-button {
    width: 25%;
    margin: auto;
}

[data-theme="dark"] .close-button span {
    background: var(--text-colour);
}

button.reach-out-button:focus {
    outline: .25rem solid var(--primary-colour);
}