<link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">

<nav class="circle-nav">
    <button id="navToggle" class="nav-btn">
        <span></span>
        <span></span>
        <span></span>
    </button>

    <ul class="nav-links">
        <li><a href="/">home</a></li>
        <li><a href="/about">about</a></li>
        <li><a href="/projects">projects</a></li>
        <li><a href="/gallery">gallery</a></li>
        <li><a href="/contact">contact</a></li>
        <li><a href="/devlog">devlogs</a></li>
        <li><a href="/resume">resume</a></li>
    </ul>
</nav>

<script src="{{ url_for('static', filename='js/nav.js') }}"></script>