<link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">

<nav class="circle-nav">
    <button id="nav-toggle" class="nav-button">
        <span></span>
        <span></span>
    </button>

    <button id="theme-toggle" aria-label="toggle theme">
        <div>
        </div>
    </button>

    {% set links = {
    'home': '/',
    'about': '/about',
    'projects': '/projects',
    'contact': '/contact',
    'resume': '/resume',
    } %}


    <ul class="nav-links">
        {% for page in links.keys() %}
        <li><a href="{{ links[page] }}" {% if current_page==page %}
                style="pointer-events: none; color: var(--text-colour);" {% endif %}>{{page}}</a>
        </li>
        {% endfor %}
    </ul>
</nav>

<div id="theme-overlay"></div>

<script src="{{ url_for('static', filename='js/nav.js') }}"></script>