{% extends 'skeletons/base.html' %}

{% block head %}
<title>about</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
{% endblock %}

{% block body %}
{% include 'snippets/navbar.html' %}
{% endblock %}

{% block content %}
<h1>hey! i'm jeric.</h1>
<h2>here's a bit about me</h2>
<p>i'm a game development student at purdue, originally from canada! i love math, art (at least looking at it), and
    coding. i used to draw a lot when i was younger, but now i've shifted my focus to stem. i still miss doing art,
    which is why i've been trying to make things look cool using code! so far, i've created a procedurally animated
    spider in unity, and i'm looking forward to learning procedural asset creation and shaders!</p>
<h2>some skills i have</h2>
<ul>
    <li>unity c#<span class="small-text"> - for all my game dev endeavours!</span>
    </li>
    <li>python<span class="small-text"> - i only really use this for when i need something quick</span>
    </li>
    <li>html5, js and css <span class="small-text"> - better in js than the others</span>
    </li>
    <li>flask & jinja2<span class="small-text"> - what this is run on!</span>
    </li>
</ul>
<h2>hobbies</h2>
<ul>
    <li>coding</li>
    <li>gaming</li>
    <li>cooking <span class="small-text">i'm trying</span></li>
</ul>
<p class="small-text">i'm boring i know :(</p>
<h2>favourite games</h2>
<!-- add a scrollbar like hyperplexed made -->
<p>terraria, minecraft, windblown, league (ew!!!) </p>
<h2>what am i working on?</h2>
<ul>
    <li>finishing up this portfolio</li>
    <li>finishing up my parent's website</li>
    <li>working on documentation for my spider</li>
</ul>
{% endblock %}